#breadcrumbs {
  margin: 20px 0;
  padding: 0;
  font-size: 14px;
  color: var(--text-grey-color);

  a{
    color: var( --text-grey-color);
    margin: 0 5px;
  }

}
.breadcrumb_last{
  margin-left: 5px;
}




