<section class="message">
  <div class="container">
    <div class="message__inner">
      <div class="message__img">
        <picture>
          <source srcset=".avif" type="image/avif">
          <source srcset=".webp" type="image/webp">
          <img loading="lazy" src="img/message.png" class="image" width="50" height="50" alt="Обращение граждан">
        </picture>
      </div>
      <div class="message__contants">
        <div class="message__title">Обращение граждан</div>
        <div class="message__subtitle">Напишите письмо руководству ГБУЗ НО ССМПНН</div>
        <button class="btn-reset message__btn" data-graph-path="">Отправить</button>
      </div>
    </div>
  </div>
</section>
