<nav class="nav" title="Навигация">
  <div class="container">
    <ul class="list-reset nav__list">
      <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Структура</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Для населения</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Вакансии</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Лицензии</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Нормативные документы</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Обращение граждан</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Вакансии</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
    </ul>
  </div>
</nav>
